src/node-red/flows.json
[{"id":"d5266447.0a6c8","type":"tab","label":"MQTT cloud interface","disabled":false,"info":""},{"id":"80dcbc26.0be508","type":"mqtt-broker","z":"","name":"","broker":"4nslmr.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"1a3b0b19.2307d5","clientid":"a:4nslmr:node-red","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1a3b0b19.2307d5","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"4nslmr.messaging.internetofthings.ibmcloud.com","verifyservercert":false},{"id":"be9e087e.1dd6b8","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7da21cd8.772d8c","type":"ui_tab","z":"","name":"Quantum device controller","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"be32f0f7.b384f","type":"ui_group","z":0,"name":"Enter measurement parameters","tab":"7da21cd8.772d8c","order":1,"disp":true,"width":10,"collapse":false},{"id":"5008163f.34bb98","type":"ui_group","z":"","name":"Plot measurement results","tab":"7da21cd8.772d8c","order":2,"disp":true,"width":16,"collapse":false},{"id":"cdee5f4d.251058","type":"mqtt out","z":"d5266447.0a6c8","name":"Send command","topic":"iot-2/type/workstation/id/kit01/cmd/parameters/fmt/json","qos":"2","retain":"","broker":"80dcbc26.0be508","x":580,"y":80,"wires":[]},{"id":"f164a762.721d8","type":"mqtt in","z":"d5266447.0a6c8","name":"All events","topic":"iot-2/type/+/id/+/evt/+/fmt/json","qos":"2","datatype":"json","broker":"80dcbc26.0be508","x":200,"y":480,"wires":[["8285d9e2.a8b8c8","f73e9b7c.39bb68"]]},{"id":"8285d9e2.a8b8c8","type":"debug","z":"d5266447.0a6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":420,"wires":[]},{"id":"9f29ceea.e42be","type":"debug","z":"d5266447.0a6c8","name":"Invalid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":240,"wires":[]},{"id":"2a3d5763.9d55e8","type":"debug","z":"d5266447.0a6c8","name":"Valid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":40,"wires":[]},{"id":"c185ae9.62ddf5","type":"change","z":"d5266447.0a6c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Invalid input parameters!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["aca48f77.b0288"]]},{"id":"166b5e7f.e2ec62","type":"ui_form","z":"d5266447.0a6c8","name":"Dashboard Form","label":"Measurement parameters","group":"be32f0f7.b384f","order":1,"width":0,"height":0,"options":[{"label":"Binning [0, 7]","value":"binning","type":"number","required":true,"rows":null},{"label":"Offset [0, 100000]","value":"offset","type":"number","required":true,"rows":null},{"label":"Acquisition time [1, 3600000] (ms)","value":"tacq","type":"number","required":true,"rows":null},{"label":"Sync Divider [1, 8]","value":"syncDivider","type":"number","required":true,"rows":null},{"label":"CFD ZeroCross0 [0, 20] (mV)","value":"CFDZeroCross0","type":"number","required":true,"rows":null},{"label":"CFD ZeroCross1 [0, 20] (mV)","value":"CFDZeroCross1","type":"number","required":true,"rows":null},{"label":"CFD Level0 [0, 800] (mV)","value":"CFDLevel0","type":"number","required":true,"rows":null},{"label":"CFD Level1 [0, 800] (mV)","value":"CFDLevel1","type":"number","required":true,"rows":null},{"label":"Detector [0, 1]","value":"detector","type":"number","required":true,"rows":null},{"label":"Initial current [-30, 0] (uA)","value":"Istart","type":"number","required":true,"rows":null},{"label":"Final current [-30, 0] (uA)","value":"Istop","type":"number","required":true,"rows":null},{"label":"Current step [-1, -0.1] (uA)","value":"Istep","type":"number","required":true,"rows":null},{"label":"Time average [0.1, 10] (s)","value":"average","type":"number","required":true,"rows":null}],"formValue":{"binning":"","offset":"","tacq":"","syncDivider":"","CFDZeroCross0":"","CFDZeroCross1":"","CFDLevel0":"","CFDLevel1":"","detector":"","Istart":"","Istop":"","Istep":"","average":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":130,"y":140,"wires":[["3afd7df5.dc8d92"]],"info":"### Currents\nFrom -30 uA to 0 uA\n\n### Detectors\nCan only be 0 or 1\n\n### CFD Zero Crossing Voltage\nFrom 0 mV to 20 mV\n\n### CFD Level Voltage\nFrom 0 mV to 800 mV\n\n### SyncDivider\nFrom 1 to 8\n\n### Acquisition time (tacq)\nFrom 1 ms to 3600000 ms\n\n### Average\nFrom 0.1 s to 10 s\n\n### Binning\nFrom 0 to 7\n\n### Offset\nFrom 0 to 100000 ns"},{"id":"f73e9b7c.39bb68","type":"ui_chart","z":"d5266447.0a6c8","name":"Plot measurement result","group":"5008163f.34bb98","order":1,"width":0,"height":0,"label":"Avg. count rates (1/s) vs. Current (nA)","chartType":"line","legend":"true","xformat":"x","interpolate":"linear","nodata":"PLEASE SUBMIT AN EXPERIMENT","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#0000ff","#ff7f0e","#2ca02c","#98df8a","#1a839e","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":520,"wires":[[]]},{"id":"aca48f77.b0288","type":"ui_toast","z":"d5266447.0a6c8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":790,"y":200,"wires":[]},{"id":"3afd7df5.dc8d92","type":"json-full-schema-validator","z":"d5266447.0a6c8","name":"Validate inputs","property":"payload","propertyType":"msg","func":"{\n\t\"$schema\": \"http://json-schema.org/draft-06/schema#\", \n\t\"$id\": \"https://example.com/node-red-kit.json\", \n\t\"title\": \"Validate inputs\", \n\t\"type\": \"object\",\n\t\"required\": [\n\t\t\"binning\",\n\t\t\"offset\",\n\t\t\"tacq\",\n\t\t\"syncDivider\",\n\t\t\"CFDZeroCross0\",\n\t\t\"CFDZeroCross1\",\n\t\t\"CFDLevel0\",\n\t\t\"CFDLevel1\",\n\t\t\"detector\",\n\t\t\"Istart\",\n\t\t\"Istop\",\n\t\t\"Istep\",\n\t\t\"average\"\n\t],\n\t\"properties\": {\n\t\t\"binning\": {\n\t\t\t\"$id\": \"#root/binning\", \n\t\t\t\"title\": \"Binning\", \n\t\t\t\"type\": \"integer\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 7,\n\t\t\t\"examples\": [\n\t\t\t\t0\n\t\t\t],\n\t\t\t\"default\": 0\n\t\t},\n\t\t\"offset\": {\n\t\t\t\"$id\": \"#root/offset\", \n\t\t\t\"title\": \"Offset\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 100000,\n\t\t\t\"examples\": [\n\t\t\t\t0\n\t\t\t],\n\t\t\t\"default\": 0\n\t\t},\n\t\t\"tacq\": {\n\t\t\t\"$id\": \"#root/tacq\", \n\t\t\t\"title\": \"Tacq\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 1,\n\t\t\t\"maximum\": 3600000,\n\t\t\t\"examples\": [\n\t\t\t\t1000\n\t\t\t],\n\t\t\t\"default\": 1000\n\t\t},\n\t\t\"syncDivider\": {\n\t\t\t\"$id\": \"#root/syncDivider\", \n\t\t\t\"title\": \"Syncdivider\", \n\t\t\t\"type\": \"integer\",\n\t\t\t\"minimum\": 1,\n\t\t\t\"maximum\": 8,\n\t\t\t\"examples\": [\n\t\t\t\t1\n\t\t\t],\n\t\t\t\"default\": 1\n\t\t},\n\t\t\"CFDZeroCross0\": {\n\t\t\t\"$id\": \"#root/CFDZeroCross0\", \n\t\t\t\"title\": \"Cfdzerocross0\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 20,\n\t\t\t\"examples\": [\n\t\t\t\t10\n\t\t\t],\n\t\t\t\"default\": 10\n\t\t},\n\t\t\"CFDZeroCross1\": {\n\t\t\t\"$id\": \"#root/CFDZeroCross1\", \n\t\t\t\"title\": \"Cfdzerocross1\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 20,\n\t\t\t\"examples\": [\n\t\t\t\t10\n\t\t\t],\n\t\t\t\"default\": 10\n\t\t},\n\t\t\"CFDLevel0\": {\n\t\t\t\"$id\": \"#root/CFDLevel0\", \n\t\t\t\"title\": \"Cfdlevel0\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 800,\n\t\t\t\"examples\": [\n\t\t\t\t50\n\t\t\t],\n\t\t\t\"default\": 50\n\t\t},\n\t\t\"CFDLevel1\": {\n\t\t\t\"$id\": \"#root/CFDLevel1\", \n\t\t\t\"title\": \"Cfdlevel1\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 800,\n\t\t\t\"examples\": [\n\t\t\t\t30\n\t\t\t],\n\t\t\t\"default\": 30\n\t\t},\n\t\t\"detector\": {\n\t\t\t\"$id\": \"#root/detector\", \n\t\t\t\"title\": \"Detector\", \n\t\t\t\"type\": \"integer\",\n\t\t\t\"enum\": [0, 1],\n\t\t\t\"examples\": [\n\t\t\t\t0\n\t\t\t],\n\t\t\t\"default\": 0\n\t\t},\n\t\t\"Istart\": {\n\t\t\t\"$id\": \"#root/Istart\", \n\t\t\t\"title\": \"Istart\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": -30,\n\t\t\t\"maximum\": 0,\n\t\t\t\"examples\": [\n\t\t\t\t-20\n\t\t\t],\n\t\t\t\"default\": -20\n\t\t},\n\t\t\"Istop\": {\n\t\t\t\"$id\": \"#root/Istop\", \n\t\t\t\"title\": \"Istop\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": -30,\n\t\t\t\"maximum\": 0,\n\t\t\t\"examples\": [\n\t\t\t\t-21\n\t\t\t],\n\t\t\t\"default\": -21\n\t\t},\n\t\t\"Istep\": {\n\t\t\t\"$id\": \"#root/Istep\", \n\t\t\t\"title\": \"Istep\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": -1,\n\t\t\t\"maximum\": -0.1,\n\t\t\t\"examples\": [\n\t\t\t\t-0.2\n\t\t\t],\n\t\t\t\"default\": -0.2\n\t\t},\n\t\t\"average\": {\n\t\t\t\"$id\": \"#root/average\", \n\t\t\t\"title\": \"Average\", \n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0.1,\n\t\t\t\"maximum\": 10,\n\t\t\t\"examples\": [\n\t\t\t\t1\n\t\t\t],\n\t\t\t\"default\": 1\n\t\t}\n\t}\n}\n","x":340,"y":140,"wires":[["2a3d5763.9d55e8","cdee5f4d.251058"],["9f29ceea.e42be","c185ae9.62ddf5"]]},{"id":"557a1994.49a698","type":"ui_button","z":"d5266447.0a6c8","name":"Erase plot","group":"5008163f.34bb98","order":2,"width":0,"height":0,"passthru":true,"label":"Erase plot","tooltip":"Click here to clear the plot window","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"clear","x":260,"y":580,"wires":[["f73e9b7c.39bb68"]]},{"id":"e416a95.c815658","type":"inject","z":"d5266447.0a6c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":580,"wires":[["557a1994.49a698"]]}]